# This notebook is part of Section 3.2.3 ( Pandas)

## Import Pandas

### Same as NumPy, importing Pandas is pretty easy

In [1]:
import pandas as pd

## Pandas Data structures


|Data Structure	| Dimensions |	Description|
|---------------|------------|-------------|
|Series         |  	1	     |1D labeled homogeneous array, sizeimmutable.|
|Data Frames	|   2	     |General 2D labeled, size-mutable tabular structure with potentially heterogeneously typed columns.|
|Panel	        |   3	     |General 3D labeled, size-mutable array.|

### Pandas Series

Series is a one-dimensional array like structure with homogeneous data.

Key Points
- Homogeneous data
- Size Immutable
- Values of Data Mutable

In [4]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

### Pandas Dataframe

DataFrame is a two-dimensional array with heterogeneous data.

Key Points
- Heterogeneous data
- Size Mutable
- Data Mutable

In [5]:
pd.DataFrame(data= {'col1': [1, 2], 'col2': [3, 4]})

   col1  col2
0     1     3
1     2     4

### Pandas Panels are not used widely, Thus, we will focus only on Series and Dataframes
 However, you can use Panels when your data are 3D

### Pandas Data Reading Functions:
- read_csv()
- read_excel()
- read_json()
- read_html()
- read_sql()

## Let us work with real-world data

### Change the directory using os library

In [10]:
import os
os.chdir('D:')
os.getcwd()

'D:\\'

### Read the datasets

In [13]:
iris_df=pd.read_csv('iris.csv')
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [14]:
cars_df=pd.read_excel('cars.xls')
cars_df.head()

,Model,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin
0,chevrolet chevelle malibu,18.0,8,307.0,130,3504,12.0,70,US
1,buick skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,plymouth satellite,18.0,8,318.0,150,3436,11.0,70,US
3,amc rebel sst,16.0,8,304.0,150,3433,12.0,70,US
4,ford torino,17.0,8,302.0,140,3449,10.5,70,US

In [15]:
titanic_df=pd.read_json('titanic.json')
titanic_df.head()

,datasetid,fields,record_timestamp,recordid
0,titanic-passengers,"{'fare': 7.3125, 'name': 'Olsen, Mr. Ole Marti...",2016-09-21T01:34:51+03:00,398286223e6c4c16377d2b81d5335ac6dcc2cafb
1,titanic-passengers,"{'fare': 15.75, 'name': 'Watt, Mrs. James (Eli...",2016-09-21T01:34:51+03:00,a6e68dbc16c3cf161e3d250650203e2c06161474
2,titanic-passengers,"{'fare': 7.775, 'name': 'Bengtsson, Mr. John V...",2016-09-21T01:34:51+03:00,50cc1cb165b05151593164cdbc3815c1c3cccb55
3,titanic-passengers,"{'fare': 10.5, 'name': 'Mellors, Mr. William J...",2016-09-21T01:34:51+03:00,1b3c80a0f49d7a4b050f023381aec7ce40fe4768
4,titanic-passengers,"{'fare': 14.4542, 'name': 'Zabour, Miss. Thami...",2016-09-21T01:34:51+03:00,30c3695bc6b529abe6fb6052648f9238371a189b

### Select a dataframe column

In [18]:
cars_df['MPG']

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
5      15.0
6      14.0
7      14.0
8      14.0
9      15.0
10     15.0
11     14.0
12     15.0
13     14.0
14     24.0
15     22.0
16     18.0
17     21.0
18     27.0
19     26.0
20     25.0
21     24.0
22     25.0
23     26.0
24     21.0
25     10.0
26     10.0
27     11.0
28      9.0
29     27.0
       ...
362    28.0
363    27.0
364    34.0
365    31.0
366    29.0
367    27.0
368    24.0
369    36.0
370    37.0
371    31.0
372    38.0
373    36.0
374    36.0
375    36.0
376    34.0
377    38.0
378    32.0
379    38.0
380    25.0
381    38.0
382    26.0
383    22.0
384    32.0
385    36.0
386    27.0
387    27.0
388    44.0
389    32.0
390    28.0
391    31.0
Name: MPG, Length: 392, dtype: float64

### Select a column and a row

In [20]:
cars_df.iloc[19,1]

26.0

### Filter the data

In [23]:
cars_df.loc[cars_df.MPG>20,]

,Model,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin
14,toyota corona mark ii,24.0,4,113.0,95,2372,15.0,70,Japan
15,plymouth duster,22.0,6,198.0,95,2833,15.5,70,US
17,ford maverick,21.0,6,200.0,85,2587,16.0,70,US
18,datsun pl510,27.0,4,97.0,88,2130,14.5,70,Japan
19,volkswagen 1131 deluxe sedan,26.0,4,97.0,46,1835,20.5,70,Europe
20,peugeot 504,25.0,4,110.0,87,2672,17.5,70,Europe
21,audi 100 ls,24.0,4,107.0,90,2430,14.5,70,Europe
22,saab 99e,25.0,4,104.0,95,2375,17.5,70,Europe
23,bmw 2002,26.0,4,121.0,113,2234,12.5,70,Europe
24,amc gremlin,21.0,6,199.0,90,2648,15.0,70,US
29,datsun pl510,27.0,4,97.0,88,2130,14.5,71,Japan
30,chevrolet vega 2300,28.0,4,140.0,90,2264,15.5,71,US
31,toyota corona,25.0,4,113.0,95,2228,14.0,71,Japan
45,chevrolet vega (sw),22.0,4,140.0,72,2408,19.0,71,US
48,mercury capri 2000,23.0,4,122.0,86,2220,14.0,71,US
49,opel 1900,28.0,4,116.0,90,2123,14.0,71,Europe
50,peugeot 304,30.0,4,79.0,70,2074,19.5,71,Europe
51,fiat 124b,30.0,4,88.0,76,2065,14.5,71,Europe
52,toyota corolla 1200,31.0,4,71.0,65,1773,19.0,71,Japan
53,datsun 1200,35.0,4,72.0,69,1613,18.0,71,Japan
54,volkswagen model 111,27.0,4,97.0,60,1834,19.0,71,Europe
55,plymouth cricket,26.0,4,91.0,70,1955,20.5,71,US
56,toyota corona hardtop,24.0,4,113.0,95,2278,15.5,72,Japan
57,dodge colt hardtop,25.0,4,97.5,80,2126,17.0,72,US
58,volkswagen type 3,23.0,4,97.0,54,2254,23.5,72,Europe
60,ford pinto runabout,21.0,4,122.0,86,2226,16.5,72,US
76,volkswagen 411 (sw),22.0,4,121.0,76,2511,18.0,72,Europe
77,peugeot 504 (sw),21.0,4,120.0,87,2979,19.5,72,Europe
78,renault 12 (sw),26.0,4,96.0,69,2189,18.0,72,Europe
79,ford pinto (sw),22.0,4,122.0,86,2395,16.0,72,US
...,...,...,...,...,...,...,...,...,...
362,chevrolet cavalier,28.0,4,112.0,88,2605,19.6,82,US
363,chevrolet cavalier wagon,27.0,4,112.0,88,2640,18.6,82,US
364,chevrolet cavalier 2-door,34.0,4,112.0,88,2395,18.0,82,US
365,pontiac j2000 se hatchback,31.0,4,112.0,85,2575,16.2,82,US
366,dodge aries se,29.0,4,135.0,84,2525,16.0,82,US
367,pontiac phoenix,27.0,4,151.0,90,2735,18.0,82,US
368,ford fairmont futura,24.0,4,140.0,92,2865,16.4,82,US
369,volkswagen rabbit l,36.0,4,105.0,74,1980,15.3,82,Europe
370,mazda glc custom l,37.0,4,91.0,68,2025,18.2,82,Japan
371,mazda glc custom,31.0,4,91.0,68,1970,17.6,82,Japan
372,plymouth horizon miser,38.0,4,105.0,63,2125,14.7,82,US
373,mercury lynx l,36.0,4,98.0,70,2125,17.3,82,US
374,nissan stanza xe,36.0,4,120.0,88,2160,14.5,82,Japan
375,honda accord,36.0,4,107.0,75,2205,14.5,82,Japan
376,toyota corolla,34.0,4,108.0,70,2245,16.9,82,Japan
377,honda civic,38.0,4,91.0,67,1965,15.0,82,Japan
378,honda civic (auto),32.0,4,91.0,67,1965,15.7,82,Japan
379,datsun 310 gx,38.0,4,91.0,67,1995,16.2,82,Japan
380,buick century limited,25.0,6,181.0,110,2945,16.4,82,US
381,oldsmobile cutlass ciera (diesel),38.0,6,262.0,85,3015,17.0,82,US
382,chrysler lebaron medallion,26.0,4,156.0,92,2585,14.5,82,US
383,ford granada l,22.0,6,232.0,112,2835,14.7,82,US
384,toyota celica gt,32.0,4,144.0,96,2665,13.9,82,Japan
385,dodge charger 2.2,36.0,4,135.0,84,2370,13.0,82,US
386,chevrolet camaro,27.0,4,151.0,90,2950,17.3,82,US
387,ford mustang gl,27.0,4,140.0,86,2790,15.6,82,US
388,vw pickup,44.0,4,97.0,52,2130,24.6,82,Europe
389,dodge rampage,32.0,4,135.0,84,2295,11.6,82,US
390,ford ranger,28.0,4,120.0,79,2625,18.6,82,US
391,chevy s-10,31.0,4,119.0,82,2720,19.4,82,US

### Filtering with multiple conditions

In [25]:
cars_df.loc[(cars_df.MPG>35)&(cars_df.Origin=='US'),]

,Model,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin
243,ford fiesta,36.1,4,98.0,66,1800,14.4,78,US
293,dodge colt hatchback custom,35.7,4,98.0,80,1915,14.4,79,US
340,plymouth champ,39.0,4,86.0,64,1875,16.4,81,US
372,plymouth horizon miser,38.0,4,105.0,63,2125,14.7,82,US
373,mercury lynx l,36.0,4,98.0,70,2125,17.3,82,US
381,oldsmobile cutlass ciera (diesel),38.0,6,262.0,85,3015,17.0,82,US
385,dodge charger 2.2,36.0,4,135.0,84,2370,13.0,82,US

### Save the output in a new dataframe

In [27]:
cars_df['MPG_per_cylinder']=cars_df['MPG']/cars_df['Cylinders']

In [28]:
cars_df

,Model,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,MPG_per_cylinder
0,chevrolet chevelle malibu,18.0,8,307.0,130,3504,12.0,70,US,2.250000
1,buick skylark 320,15.0,8,350.0,165,3693,11.5,70,US,1.875000
2,plymouth satellite,18.0,8,318.0,150,3436,11.0,70,US,2.250000
3,amc rebel sst,16.0,8,304.0,150,3433,12.0,70,US,2.000000
4,ford torino,17.0,8,302.0,140,3449,10.5,70,US,2.125000
5,ford galaxie 500,15.0,8,429.0,198,4341,10.0,70,US,1.875000
6,chevrolet impala,14.0,8,454.0,220,4354,9.0,70,US,1.750000
7,plymouth fury iii,14.0,8,440.0,215,4312,8.5,70,US,1.750000
8,pontiac catalina,14.0,8,455.0,225,4425,10.0,70,US,1.750000
9,amc ambassador dpl,15.0,8,390.0,190,3850,8.5,70,US,1.875000
10,dodge challenger se,15.0,8,383.0,170,3563,10.0,70,US,1.875000
11,plymouth 'cuda 340,14.0,8,340.0,160,3609,8.0,70,US,1.750000
12,chevrolet monte carlo,15.0,8,400.0,150,3761,9.5,70,US,1.875000
13,buick estate wagon (sw),14.0,8,455.0,225,3086,10.0,70,US,1.750000
14,toyota corona mark ii,24.0,4,113.0,95,2372,15.0,70,Japan,6.000000
15,plymouth duster,22.0,6,198.0,95,2833,15.5,70,US,3.666667
16,amc hornet,18.0,6,199.0,97,2774,15.5,70,US,3.000000
17,ford maverick,21.0,6,200.0,85,2587,16.0,70,US,3.500000
18,datsun pl510,27.0,4,97.0,88,2130,14.5,70,Japan,6.750000
19,volkswagen 1131 deluxe sedan,26.0,4,97.0,46,1835,20.5,70,Europe,6.500000
20,peugeot 504,25.0,4,110.0,87,2672,17.5,70,Europe,6.250000
21,audi 100 ls,24.0,4,107.0,90,2430,14.5,70,Europe,6.000000
22,saab 99e,25.0,4,104.0,95,2375,17.5,70,Europe,6.250000
23,bmw 2002,26.0,4,121.0,113,2234,12.5,70,Europe,6.500000
24,amc gremlin,21.0,6,199.0,90,2648,15.0,70,US,3.500000
25,ford f250,10.0,8,360.0,215,4615,14.0,70,US,1.250000
26,chevy c20,10.0,8,307.0,200,4376,15.0,70,US,1.250000
27,dodge d200,11.0,8,318.0,210,4382,13.5,70,US,1.375000
28,hi 1200d,9.0,8,304.0,193,4732,18.5,70,US,1.125000
29,datsun pl510,27.0,4,97.0,88,2130,14.5,71,Japan,6.750000
...,...,...,...,...,...,...,...,...,...,...
362,chevrolet cavalier,28.0,4,112.0,88,2605,19.6,82,US,7.000000
363,chevrolet cavalier wagon,27.0,4,112.0,88,2640,18.6,82,US,6.750000
364,chevrolet cavalier 2-door,34.0,4,112.0,88,2395,18.0,82,US,8.500000
365,pontiac j2000 se hatchback,31.0,4,112.0,85,2575,16.2,82,US,7.750000
366,dodge aries se,29.0,4,135.0,84,2525,16.0,82,US,7.250000
367,pontiac phoenix,27.0,4,151.0,90,2735,18.0,82,US,6.750000
368,ford fairmont futura,24.0,4,140.0,92,2865,16.4,82,US,6.000000
369,volkswagen rabbit l,36.0,4,105.0,74,1980,15.3,82,Europe,9.000000
370,mazda glc custom l,37.0,4,91.0,68,2025,18.2,82,Japan,9.250000
371,mazda glc custom,31.0,4,91.0,68,1970,17.6,82,Japan,7.750000
372,plymouth horizon miser,38.0,4,105.0,63,2125,14.7,82,US,9.500000
373,mercury lynx l,36.0,4,98.0,70,2125,17.3,82,US,9.000000
374,nissan stanza xe,36.0,4,120.0,88,2160,14.5,82,Japan,9.000000
375,honda accord,36.0,4,107.0,75,2205,14.5,82,Japan,9.000000
376,toyota corolla,34.0,4,108.0,70,2245,16.9,82,Japan,8.500000
377,honda civic,38.0,4,91.0,67,1965,15.0,82,Japan,9.500000
378,honda civic (auto),32.0,4,91.0,67,1965,15.7,82,Japan,8.000000
379,datsun 310 gx,38.0,4,91.0,67,1995,16.2,82,Japan,9.500000
380,buick century limited,25.0,6,181.0,110,2945,16.4,82,US,4.166667
381,oldsmobile cutlass ciera (diesel),38.0,6,262.0,85,3015,17.0,82,US,6.333333
382,chrysler lebaron medallion,26.0,4,156.0,92,2585,14.5,82,US,6.500000
383,ford granada l,22.0,6,232.0,112,2835,14.7,82,US,3.666667
384,toyota celica gt,32.0,4,144.0,96,2665,13.9,82,Japan,8.000000
385,dodge charger 2.2,36.0,4,135.0,84,2370,13.0,82,US,9.000000
386,chevrolet camaro,27.0,4,151.0,90,2950,17.3,82,US,6.750000
387,ford mustang gl,27.0,4,140.0,86,2790,15.6,82,US,6.750000
388,vw pickup,44.0,4,97.0,52,2130,24.6,82,Europe,11.000000
389,dodge rampage,32.0,4,135.0,84,2295,11.6,82,US,8.000000
390,ford ranger,28.0,4,120.0,79,2625,18.6,82,US,7.000000
391,chevy s-10,31.0,4,119.0,82,2720,19.4,82,US,7.750000

Pandas has a great documentation also, check it here :

https://pandas.pydata.org/pandas-docs/stable/